amqp==5.0.2
anyjson==0.3.3
appdirs==1.4.4
asgiref==3.3.1
billiard==3.6.3.0
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
Django==3.1.4
django-celery-beat==2.1.0
django-celery-results==2.0.0
django-timezone-field==4.1.1
html2text==2020.1.16
importlib-metadata==3.3.0
importlib-resources==3.3.0
iptools==0.7.0
kombu==5.0.2
mod_wsgi
more-itertools==8.6.0
mysqlclient==2.0.2
netaddr==0.8.0
packaging==20.8
prompt-toolkit==3.0.8
pyparsing==2.4.7
python-crontab==2.5.1
python-dateutil==2.8.1
python-json-logger==2.0.1
python-libnmap==0.7.2
pytz==2020.4
simplejson==3.17.2
six==1.15.0
sqlparse==0.4.1
structlog==20.1.0
typing-extensions==3.7.4.3
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.0
